.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #03c75a;
    color: white;
}

.signOutButton {
    background-color: #ffffff;
    color: #03c75a;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    /* 최신 메시지가 아래에서 위로 */
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 0;
}

.nickname {
    font-weight: bold;
    margin-right: 10px;
}

.text {
    flex: 1;
}

.timestamp {
    font-size: 0.8rem;
    color: gray;
}

.inputBox {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #03c75a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}