/* app/contact/contact.module.css */

.contactContainer {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    min-height: 76.3vh;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: f7f7f7;
}

.title {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.subtitle {
    font-size: 1.25rem;
    color: #c8c8c8;
    margin-bottom: 2rem;
    animation: fadeIn 1.5s ease-in-out;
}

.contactMethods {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contactCard {
    background-color: #232323;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 250px;
    animation: slideUp 1s ease-in-out;
}

/* .contactCard:hover {
    transform: translateY(-10px);
} */

.contactLink {
    color: #fbffdb;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contactLink:hover {
    color: #f2fdad;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

.text {
    color: white;
}