/* /app/styles/GNB.module.css */
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}


.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    gap: 0.5rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #00bcd4;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 500px) {
    .link {
        display: none;

    }

    .menuIcon {
        display: flex;
    }
}

.supernovaIcon {
    width: 24px;
    height: 24px;
}