.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}


.loginButton {
    background-color: #828282;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton a {
    text-decoration: none;
    color: white;
}

.loginButton:hover {
    background-color: #3d3d3d;
}

/* 로그아웃 버튼 스타일 */
.logoutButton {
    background-color: #ff4d4d;
    /* 빨간색 */
}

.logoutButton:hover {
    background-color: #cc0000;
    /* 더 어두운 빨간색 */
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.munu li {
    align-items: center;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #fff768;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 600px) {
    .link {
        display: none;

    }

    .menuIcon {
        display: flex;
    }
}

.supernovaIcon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}