.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 140%;
    /* 세로 기준으로 120% 확대 */
    background-position: center;
    /* 이미지 중앙을 기준으로 정렬 */
    background-repeat: no-repeat;
    /* 반복 방지 */
    filter: blur(20px);
    z-index: -1;
    overflow: hidden;
    /* 잘린 부분 숨김 */
}

.content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(174, 0, 255), rgb(0, 55, 254));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.channelInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.channelIcon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.thumbnail {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.title1 {
    text-align: right;
    position: relative;
}

.view {
    margin-left: 8px;
    color: red;
}

.like {
    margin-left: 8px;
    color: red;
}

.info1 {
    font-size: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.info {
    font-size: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.refreshButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 86, 179, 0.3);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.refreshButton:hover {
    background-color: rgba(0, 86, 179, 0.5);
}