.container {
    width: calc(100% - 615px);
    margin: 0 auto;
    height: 74vh;
    position: relative;
}

.map {
    width: 100%;
    height: 74vh;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
}

.mapToggle {
    padding: 8px 16px;
    background-color: rgb(48, 48, 48);
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}

.mapToggle:hover {
    background-color: #424242;
}

.info {
    font-size: 14px;
    color: #333;
}